@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
  background-color: rgba(119, 148, 188, 0.761);
}

.wrapper-BSG {
  margin-top: 50px;
  margin-inline: auto;
  width: 80%;
}

.boxShadowGen {
  padding: 30px;
  background-color: #efefef;
  border-radius: 50px;
}

.boxShadowGen-preview {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxShadowGen-preview__element {
  width: 50px;
  height: 50px;
  background-color: #6c78df;
}

.boxShadowGen-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}

.boxShadowGen-property-container {
  display: flex;
  flex-direction: column;
}

.boxShadowGen-property-container_oneline {
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.boxShadowGen-result {
  padding: 2rem;
  display: grid;
  grid-template-columns: 10fr 2fr;
  column-gap: 1rem;
}

.boxShadowGen-result__css {
  resize: none;
  padding: 0.5em;
  outline: none;
  border-radius: 10px;
}

.boxShadowGen-result__btn-copy {
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  background-color: rgba(55, 126, 196, 0.754);
  color: white;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background:rgba(145, 169, 221, 0.901);
    height:14px;
    border-radius: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:rgba(99, 120, 203, 0.785);
    height:20px;
    width:20px;
    border-radius: 10px;
}

